.background {
  background: var(--ifm-background-color);
}

[data-theme='dark'] .background {
  background: linear-gradient(135deg, #1f092b, #2a0d3a);
}

.container {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 50vh;
  display: flex;
  align-items: center;  
  color: var(--ifm-color-primary);
  background: rgba(128, 128, 128, 0.1);
}

[data-theme='dark'] .container {
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.heroLogo {
  width: 200px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

/* Estilo para o botão */
:global(.button.button--secondary) {
  background-color: var(--ifm-color-primary);
  color: white;
  border: none;
  transition: all 0.2s;
}

[data-theme='dark'] :global(.button.button--secondary) {
  background-color: #f97316;
}

:global(.button.button--secondary:hover) {
  background-color: var(--ifm-color-primary-darker);
  transform: translateY(-1px);
}

[data-theme='dark'] :global(.button.button--secondary:hover) {
  background-color: #ea6506;
}

/* Ajustes de texto */
:global(.hero__title) {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--ifm-color-primary);
}

[data-theme='dark'] :global(.hero__title) {
  color: white;
}

:global(.hero__subtitle) {
  font-size: 1.2rem;
  color: var(--ifm-color-primary-darker);
}

[data-theme='dark'] :global(.hero__subtitle) {
  color: rgba(255, 255, 255, 0.8);
}
