.products {
  padding: 7rem 2rem;
  background: var(--ifm-background-color);
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.productContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.productCard {
  background: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  padding: 2rem;
  transition: all 0.3s ease;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow: var(--ifm-global-shadow-md);
  background: rgba(255,255,255,0.15);
}

.badgeContainer {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.devBadge {
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  font-size: 0.8rem;
}

.blue {
  background: rgba(0, 122, 255, 0.1);
  color: #007aff;
}

.gray {
  background: rgba(142, 142, 147, 0.1);
  color: #8e8e93;
}

.versionBadge {
  padding: 0.25rem 0.75rem;
  border-radius: 15px;
  background: var(--ifm-color-emphasis-200);
  font-size: 0.8rem;
}

.subCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.subCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background: rgba(255,255,255,0.05);
  border-radius: var(--ifm-card-border-radius);
  
  text-decoration: none;
  color: var(--ifm-font-color-base);
  transition: all 0.3s ease;
}

.subCard:hover {
  background: rgba(31, 9, 43, 0.5);
  text-decoration: none;
}

.subCard i {
  font-size: 1.5rem;
}

.productCard h2,
.productCard p {
  text-align: justify;
}